// Copyright 2019 Hackware SpA <human@hackware.cl>
// This file is part of "Hackware Userland" and licensed under the terms
// of the GNU Affero General Public License version 3, or (at your option)
// a later version. You should have received a copy of this license along
// with the software. If not, see <https://www.gnu.org/licenses/>.

// node_modules/bootstrap/scss added to includePaths in vue.config.js

// Required
// "functions" and "variables" already imported in vue.config.js
@import "functions";

$enable-rounded: false;
$enable-shadows: true;
$enable-transitions: true;
$enable-responsive-font-sizes: true;
$enable-deprecation-messages: true;
$dark: #212529;
@import "variables";

@import "mixins";

// Optional
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

:focus { outline:none; }
::-moz-focus-inner { border:0; }
