<!--
  Copyright 2019 Hackware SpA <human@hackware.cl>
  This file is part of "Hackware Userland" and licensed under the terms
  of the GNU Affero General Public License version 3, or (at your option)
  a later version. You should have received a copy of this license along
  with the software. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="wallet">
    <h2>Mi billetera</h2>
    <WalletOverview />
    <div class="text-right mt-1">
      <router-link
        id="addFundsBtn"
        to="/add-funds"
      >
        Añadir fondos
        <i class="fas fa-plus-square" />
      </router-link>
    </div>
  </div>
</template>

<script>
import WalletOverview from '@/components/WalletOverview.vue';

export default {
  name: 'Wallet',
  components: {
    WalletOverview,
  },
};
</script>

<style lang="scss">
@import "../assets/bootstrap/custom";

.wallet {
  @extend .pt-3;

  #addFundsBtn {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
  }
}
</style>
